body {
  background: rgba(128, 128, 128, 0.1); }

ul {
  list-style: none;
  padding-left: 0; }

.invalid-feedback {
  display: block; }

.dropdown-menu {
  display: block;
  right: 0;
  left: unset; }

.head-user {
  position: relative; }

.user-head__menu {
  right: 0;
  position: absolute;
  top: 120%; }

.card-img--height {
  max-height: 161.84px;
  object-fit: cover; }
