@import "./_base/variables";
@import "./_loader.scss";

body {
  background: $background;
}

ul {
  list-style: none;
  padding-left: 0;
}

.navbar {
  background-color: $primaryLight;
}

.nav-link {
  color: unset;
  &:hover {
    color: unset;
  }
}

.header__home-link {
  color: #fff;
  font-size: 24px;
  &:hover {
    color: $background;
  }
}

.invalid-feedback {
  display: block;
}

.user-head__menu {
  .dropdown-menu {
    display: block;
    right: 0;
    left: unset;
  }
}

.head-user {
  position: relative;
}

.user-head__menu {
  right: 0;
  position: absolute;
  top: 120%;
}

.card-img--height {
  max-height: 161.84px;
  object-fit: cover;
}

.movie-item {
  &__star {
    float: left;
  }
}

.rating-btn {
  display: inline-block;
  widtth: auto;
  clear: both;
  &:hover {
    cursor: pointer;
  }
  &__your-rating {
    display: inline-block;
    margin-left: 10px;
  }
  &__circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    .CircularProgressbar .CircularProgressbar-text {
      font-size: 50px;
      fill: $primaryLight;
    }
  }
  &__drop {
    min-width: unset;
  }
  &__inner {
    padding: 0 10px;
    display: flex;
  }
  &__star {
    display: inline-block;
    clear: both;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.dropdown-item {
  a {
    color: unset;
    text-decoration: none !important;
  }
  &:hover {
    cursor: pointer;
  }
}

//gallery
.tile-viewport {
  img {
    object-fit: contain;
  }
}
