@import "./_base/variables";

body {
  background: $background
}

ul {
  list-style: none;
  padding-left: 0;
}

.navbar {
  background-color: $primaryLight;
}

.header__home-link {
  color: #fff;
  font-size: 24px;
  &:hover {
    color: $background;
  }
}

.invalid-feedback {
  display: block;
}

.dropdown-menu {
  display: block;
  right: 0;
  left: unset;
}

.head-user {
  position: relative;
}

.user-head__menu {
  right: 0;
  position: absolute;
  top: 120%;
}

.card-img--height {
  max-height: 161.84px;
  object-fit: cover;
}

