@import "./_base/variables";

body {
  background: $background
}

ul {
  list-style: none;
  padding-left: 0;
}

.navbar {
  background-color: $primaryLight;
}

.header__home-link {
  color: #fff;
  font-size: 24px;
  &:hover {
    color: $background;
  }
}

.invalid-feedback {
  display: block;
}

.user-head__menu {
  .dropdown-menu {
    display: block;
    right: 0;
    left: unset;
  }
}

.head-user {
  position: relative;
}

.user-head__menu {
  right: 0;
  position: absolute;
  top: 120%;
}

.card-img--height {
  max-height: 161.84px;
  object-fit: cover;
}

.rating-btn {
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
  &__drop {
    min-width: unset;
  }
  &__inner {
    padding: 0 10px;
  }
  &__star {
    display: inline-block;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

