body {
  background: #F9F9F9; }

ul {
  list-style: none;
  padding-left: 0; }

.navbar {
  background-color: #3987e0; }

.header__home-link {
  color: #fff;
  font-size: 24px; }
  .header__home-link:hover {
    color: #F9F9F9; }

.invalid-feedback {
  display: block; }

.user-head__menu .dropdown-menu {
  display: block;
  right: 0;
  left: unset; }

.head-user {
  position: relative; }

.user-head__menu {
  right: 0;
  position: absolute;
  top: 120%; }

.card-img--height {
  max-height: 161.84px;
  object-fit: cover; }

.rating-btn {
  display: inline-block; }
  .rating-btn:hover {
    cursor: pointer; }
  .rating-btn__drop {
    min-width: unset; }
  .rating-btn__inner {
    padding: 0 10px; }
  .rating-btn__star {
    display: inline-block;
    margin-right: 5px; }
    .rating-btn__star:last-child {
      margin-right: 0; }
